Package: ros-fuerte-rosdoc-lite
Version: 0.1.0-0precise
Architecture: amd64
Maintainer: Dirk Thomas <dthomas@willowgarage.com>
Installed-Size: 240
Depends: python-sphinx, python-yaml, doxygen, ros-fuerte-genmsg, python-epydoc, python-rospkg
Section: misc
Priority: extra
Homepage: http://www.ros.org/wiki/rosdoc_lite
Description: Infrastructure for generating documentation of ROS packages.
 .
 This stack contains the packages:
 * rosdoc_lite: rosdoc_lite wraps documentation tools like doxygen, sphinx, and epydoc with ROS package semantics to auto-generate documentation for ROS packages. rosdoc also supports online documentation, like the ROS wiki.
