Source: ros-hydro-rosdoc-lite
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://www.ros.org/wiki/rosdoc_lite
Standards-Version: 3.9.2

Package: ros-hydro-rosdoc-lite
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, doxygen, python-catkin-pkg, python-epydoc, python-kitchen, python-rospkg, python-sphinx, python-yaml, ros-hydro-genmsg
Description: rosdoc_lite wraps documentation tools like doxygen, sphinx, and epydoc with ROS package semantics to auto-generate documentation for ROS packages. rosdoc_lite also supports online documentation, like the ROS wiki.
